html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2833;
  font-family: Roboto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top .6s;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  overflow: hidden;
}

header.sticky {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 100px;
  color: #0b0c10 !important;
}

.navbar {
  font-family: 'Cairo', sans-serif;
}

.navbar-brand {
  font-size: 2.4rem;
  color: #ffffff !important;
  transition: 0.6s;
}

.navbar-nav > .nav-link {
  color: #ffffff !important;
  transition: 0.5s;
  font-weight: 500px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: .6s;
  font-size: 1.8rem;
}

.font-type {
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.content {
  margin-top: 120px;
}

.name {
  font-size: 7rem;
  line-height: 80px;
  font-family: 'Della Respira', serif;
  color: #66fcf1;
}

.title {
  font-size: 3rem;
  line-height: 60px;
  font-family: 'Della Respira', serif;
  color: #FFFFFF;
}

.text {
  text-align: center;
  font-size: 1.7rem;
  color: #FFFFFF;
  line-height: 32px;
  font-family: 'Cairo', sans-serif;
}

.wrapper-pad {
  margin: 40px 0;
}

.wrapper-3 {
  margin-top: 25px;
}

.wrapper-3 h1 {
  font-size: 54px;
  margin-top: 55px;
  color: #66fcf1;
  font-family: 'Della Respira', serif;
}

.border-line {
  margin: 35px 0;
  border: 1px solid #646369;
}

.framewk {
  color: #FFFFFF;
}

.framewk-hdr {
  font-size: 2.4rem;
  font-family: 'Della Respira', serif;
}

.framewk ul {
  margin-top: 8px;
}

.framewk ul li {
  list-style: none;
  font-size: 1.8rem;
  line-height: 25px;
  font-family: 'Cairo', sans-serif;
}

.bg-img {
  width: 100%;
  height: 350px;
}

.bg-img1 {
  background-image: url(images/screenshot.png);
  background-size: 100% 100%;
}

.bg-img2 {
  background-image: url(images/screenshot2.png);
  background-size: 100% 100%;
}

.bg-img5 {
  background-image: url(images/screenshot5.png);
  background-size: 100% 100%;
}

.bg-img3 {
  background-image: url(images/screenshot3.png);
  background-size: 100% 100%;
}

.bg-img4 {
  background-image: url(images/screenshot4.png);
  background-size: 100% 100%;
}

.works-hdr {
  width: 448px;
  height: 75px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Della Respira', serif;
  line-height: 52px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 5px 24px 0 24px;
}

.works-content {
  width: 448px;
  height: 140px;
  font-family: Roboto;
  font-style: normal;
  font-family: 'Cairo', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #DFE1E6;
  margin: 0px 24px;
}

.works-lang {
  min-height: 35px;
  font-size: 1.7rem;
  line-height: 28px;
  color: #DFE1E6;
  font-family: 'Cairo', sans-serif;
  margin: 0px 24px;
}

.works {
  margin-bottom: 50px;
}

.btn-project {
  margin: 0 24px;
  width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;
  left: 0px;
  top: 357px;
  font-size: 1.5rem;
  font-family: 'Della Respira', serif;
  color: #DFE1E6;
  background: #0b0c10;
  font-size: 1.8rem;
  border-radius: 5px;
}

.btn-project:hover {
  border: 2px solid #66fcf1;
  background-color: transparent;
  color: #ffffff;
  transition: color .4s;
}

.contact {
  margin: 120px 0 40px 0;
}

.contact .cont-hdr {
  font-size: 36px;
  font-family: 'Della Respira', serif;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

.contact-txt {
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
  line-height: 30px;
  text-align: center;
  color: #EBEBFF;
}

.input {
  width:50%;
}

.input-box {
  width:100%;
  height: 33px;
  border-radius: 2px;
  font-size: 1.6rem;
  font-family: 'Cairo', sans-serif;
  border: none;
  padding-left: 10px;
}

.txt-box {
  border-radius: 2px;
  font-size: 1.5rem;
  padding-left: 10px;
  font-family: 'Cairo', sans-serif;
}

.btn-submit {
  margin: 0 24px;
  width: 150px;
  padding: 12px 45px;
  left: 0px;
  top: 357px;
  font-size: 1.5rem;
  font-family: 'Della Respira', serif;
  color: #DFE1E6;
  background: #0b0c10;
  font-size: 2rem;
  border-radius: 5px;
}

.btn-submit:hover {
  color: #FFFFFF;
  text-decoration: none;
  transition: color .3s;
}

footer {
  margin: 20px 0;
}

footer ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width:1024px) {
 .navbar-nav {
   width: 60%;
 }
}

@media screen and (max-width:768px) {
 .mar-top {
   margin-bottom: 60px;
 }
 .framewk {
   padding-right: 20px;
 }
}